<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>
<body>

    <header id="header"></header>

    <main>
        <header>
            <h1>첫번째 글</h1>
        </header>

        <aside>
            <p>Jin</p>
            <p><a href="mailto:maiload77@gamil.com">maiload77@gamil.com</a></p>
            <p><time datetime="2024-07-01T00:00:00"></time>2024-07-01</p>
            <p>#java</p>
        </aside>

        <section>
            <div></div>

            <nav>
                <a href="#">이전 글</a>
                <a href="#">다음 글</a>
            </nav>
        </section>


    </main>

    <footer id="footer"></footer>

</body>
</html>